*{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;

 }
:root{
  --color1: #f0f0f0;
  --color2: #252525;
  --color3: #2F545C;
  --color4: rgba(255, 230, 0, 0.178);
  --color5: rgba(3, 0, 17, 0.493);
  --color6: hsla(0, 0%, 33%, 0.63);
  --color7: hsla(0, 0%, 13%, 0.212);
  --color8: rgb(170, 159, 63);
}
  header{
      width: 100%;
      height: 100px;
      background-color: var(--color3);
      position: fixed;
      z-index: 1000;
      top: 0;
      box-shadow: 0px 4px 3px var(--color6);
      
  }
  .ancho{
      width: 1200px;
      height: 100px;
      margin: auto;
      background-color: var(--color3);
  
  }
  .cajaImg{
      width: 315px;
      height: 100px;
      float: left;
      background-color: var(--color3);
      box-sizing: border-box;
  
  }
  .cajaImg img{
      width: 70px;
      margin-top: 15px;
      margin-left: 60px;
}

.alias{
    color:var(--color1);
    font-size: 30px;
    margin-top: 30px;
    float:right;
}
  nav{
      width: 885px;
      height: 100px;
      padding-top: 30px;
      background-color: var(--color3);
      float: right;
      text-align: right;
      box-sizing: border-box;
  }
  nav a{
      display: inline-block;
      text-decoration: none;
      list-style: none;
      color:var(--color1);
      margin-right: 32px;
      font-size: 20px;
      padding: 7px 1px 15px 1px;
      border-bottom: 3px solid var(--color3);
      transition: 0.3s;
      
     
  }
  nav a:hover{
      transition: 0.3s;
      color: var(--color1);
      border-bottom: 3px solid var(--color1);
      padding: 7px 1px 7px 1px;
  }
